/*
Ejercicio Completo con Html y Css
(Hecho)1. Crear un documento HTML y vincularlo con CSS
(Hecho)2. Crear una estructura HTML que cuente con un CONTENEDOR GENERAL,
    CABECERA , MENU, BARRA LATERAL, SECCION DE CONTENIDO PRINCIPAL,
    ELEMENTOS DENTRO DEL CONTENEDOR PRINCIPAL, Y FOOTE.
(Hecho)3. Todo el contenido debe estar dentro del contenedor general
    y su ancho sera de 1200px y estar centrado
(Hecho)4. Header debe ocupar el 100% del ancho y tener un texto grande centrado.
(Hecho)5. Menu debe tener los elementos uno a lado del otro
(hecho)6. El contenido principal debe tener un ancho del 70%
(Hecho)7. El contenido dentro del contenedor principal debe
    ser una cuadricula con 4 lineas de 2 cajas.
(Hecho)8. La barra lateral debe tener un ancho del 30%
9. El footer debe tener un ancho del 100% del div que lo contiene
    y estar abajo del todo
*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#general {
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    border: 1px solid #ccc;
}

#header {
    width: 100%;
    height: 100px;
    background: rgb(6, 6, 165);
    color: white;
    text-align: center;
    line-height: 70px;
}

.clearfix{
    float: none;
    clear: both;
}

#menu{
    background: #ccc;
}

#menu ul li{
    /*display: inline-block;*/
    display: block;
    float: left;
    border-right: 1px solid #ccc;
}

#menu ul li a{
    display: block;
    padding: 15px;

    color: #444;
}

#menu ul li:hover{
    background: rgb(6, 6, 165);
    cursor: pointer;
}

#menu ul li:hover a{

    color: white;
}

#contenido{
    width: 69%;
    float: left;
}

#lateral{
    float: left;
    width: 30%;
    border: 1px solid red;
    min-height: 500px;
    max-height: 650px;
    text-align: center;
    overflow-y: scroll;
}

#contenido > h1 {
    text-align: center;
    border-bottom: 1 px solid #ccc;
    padding: 15px;
    color: #444;
    text-shadow: 0px 0px 5px black;
}

#contenido .caja{
    width: 40%;
    height: 250px;
    background-color: #ccc;
    border: 1px solid gray;
    color: white;
    float: left;
    margin: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 200px;
    color: #444;
    text-transform: uppercase;
    box-shadow: 0px 0px 15px black;
    border-radius: 50px 10px 4px 20px;
}

.sombra-interior{
    box-shadow: 0px 0px 15px black inset !important;
}

#footer {
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: #eee;
    text-align: center;
    color: #444;
    border-top: 1px solid #ccc;
}

.libre{
    position: absolute;
    top: 300px;
    left: 50%;

    border: 1px solid black;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}

.libre1{
    
    z-index: 102;
}

.libre2{
    background-color: green;
    top: 280px;
    left: 52%;
    z-index: 101;
}

.fija{
    position: fixed;
    top: 50%;
    left: 0px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;

}