*{
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    font-size: 20px;
}

ul li:first-child{
    color: purple;
    font-weight: bold;
}

ul li:nth-child(2){
    color: orange;
    font-weight: bold;
}

ul li:last-child{
    color: gray;
    font-weight: bold;
}

#mi-enlace{
    font-size: 30px;
    color: lightsalmon;
}

/*Si no lo has visitado*/
#mi-enlace:link{
    color: red;
}

/*Si ya lo visite */
#mi-enlace:visited{
    color: lightskyblue;
}

/*A cualquier elemento*/
#mi-enlace:hover{
    color: blue;
}

/*Mientras este pulsando*/
#mi-enlace:active{
    color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/**/
input[type="text"]{
    margin-top: 20px;
    padding: 10px;
}

input[type="text"]:focus{
    border: 4px dashed red;
}