*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 40px;
}

#cajas{
    max-width: 1035px;
    border: 1px solid black;
}

.caja{
    display: block;
    /* Para que se comporte como caja */
    width: 250px;
    height: 250px;
    /* Tamano de las cajas */
    /* min-width: ; */
    /* max-width: ; */
    /* Ancho maximo y ancho minimo */
    background-color: lightblue;
    border: 10px solid red;
    margin: 15px;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 24px;
    margin-right: 10px;
    /* margenes externos */
    padding: 20px;
    padding-bottom: 40px;
    /* margenes internos */
    float: left;
}

.caja p{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    line-height: 230px;
}

.clearfix{
    float: none;
    clear: both;
    /* limpia flotados de arriba o d elos lados */
}