h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

    /* Colores */
    /* Colores del Sistema */
    color: mediumblue;
    /* Colores Hexadecimales */
    color: #6753ca99;
    /* Colores RGB */
    /* Red Green Blue */
    color: rgb(red, green, blue);
    /* Colores RGBA */
    /* A de transaparenciak */
    color: rgba(red, green, blue, 0.5);
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: lighter;
}

p{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}